body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



div.page{
  page-break-after: always;
  margin: 3rem;
  text-align: center;
}
* {
box-sizing: border-box;
}

.wrapper {
width: 30cm;
padding: 0 2rem;
text-align: center;
}
.polaroid {
background: #FFF;
padding: 1rem;
box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
}
/*@media print {
  .polaroid {
      -webkit-filter: drop-shadow(0 0.2rem 1.2rem rgba(0,0,0,0.2));
      text-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  }
}*/
.polaroid > img,
.polaroid > .img {
width: 11cm;
height: 11cm;
}
.polaroid > .img {
background-size: 100%;
background-repeat: no-repeat;
background-position: bottom;

}
.img.word {
background-color: #ccc;
background-blend-mode: overlay;
background-image: url('https://ctl.s6img.com/society6/img/gb6wISBRFuxYSlwPPZJjiLWWb-o/w_700/leggings/swatch/~artwork,fw_7500,fh_9000,iw_7500,ih_9000/s6-0090/a/35220406_6915155/~~/dark-sepia-backgroundpattern-twl-leggings.jpg');

}
.img.calendar {
  
}
.polaroid > .img.word > .text
{
  padding-top: 40%;
  font-size: 3rem;
}
.polaroid > .img.calendar > .text
{
  padding-top: 5%;
  font-size: 2rem;
}
.caption {
font-size: 1.8rem;
text-align: center;
line-height: 2em;
}
.smallcaption {
font-size: 0.9rem;
text-align: center;
line-height: 1em;
}
.item,
.notes {
display: inline-block;
margin: 1rem;
border: 1px solid #666;
}
.notes {
  width: 24.8cm;
  height: 8cm;

}